.header-container {
  align-items: center;
  background-color: #ff990d;
  color: #fafafa;
  display: flex;
  height: 58px;
  justify-content: space-around;
  line-height: 100px;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 1;
}

.exec-search-btn img {
  width: 16px;
}

.header-container button {
  background: none;
  border: none;
  height: 58px;
  position: relative;
  width: 30px;
}

.header-container button img {
  filter: invert();
  left: -5px;
  position: absolute;
  top: 15px;
}

.search-container {
  background-color: #fafafa;
  padding: 10px;
  position: fixed;
  top: 60px;
  width: 360px;
}

.search-type-container {
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.search-input {
  border: 1px solid #ff990d;
  border-radius: 50px;
  height: 34px;
  width: 323px;
}

.exec-search-btn {
  background: #ffc700;
  border: 1px solid #ff990d;
  border-radius: 100%;
  height: 34px;
  left: 302px;
  position: absolute;
  top: 42px;
  width: 34px;
}
